<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Tracking system config</comment>
<entry key="tracking">enabled</entry>
<entry key="remote-service">disabled</entry>
<entry key="local-dump">enabled</entry>
<entry key="snapshots-capture">enabled</entry>
<entry key="interaction-log">enabled</entry>
<entry key="controller-class">es.eucm.eadventure.tracking.prv.TrackingController</entry>
<entry key="snapshots-sample-freq">5000</entry>
<entry key="snapshots-send-freq">10000</entry>
<entry key="interaction-log-dump-freq">5000</entry>
<entry key="interaction-log-send-freq">10000</entry>
<entry key="interaction-log-ll-sample-freq">1000</entry>
<entry key="effect-verbosity">enabled</entry>
</properties>