<?xml version="1.0" encoding="UTF-8"?>
<tns:tracking-config xmlns:tns="http://e-adventure.e-ucm.es/eadventure-tracking-schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://e-adventure.e-ucm.es/eadventure-tracking-schema eadventure-tracking-schema.xsd ">
	
	<tns:enabled>false</tns:enabled>
	<tns:main-class></tns:main-class>
	
</tns:tracking-config>