<?xml version="1.0" encoding="UTF-8"?>
<!-- Tracking file used when games are launched from the editor. Tracking is disabled by default -->
<tns:tracking-config xmlns:tns="http://e-adventure.e-ucm.es/eadventure-tracking-schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://e-adventure.e-ucm.es/eadventure-tracking-schema eadventure-tracking-schema.xsd ">
	
	<tns:enabled>true</tns:enabled>
	<tns:main-class>es.eucm.eadventure.tracking.prv.TrackingController</tns:main-class>
	
	<tns:property>
	    <tns:name>game-id</tns:name>
	    <tns:value>1234</tns:value>
	</tns:property>
	
	<tns:property>
	    <tns:name>student-id</tns:name>
	    <tns:value>release</tns:value>
	</tns:property>
	
	<tns:property>
	    <tns:name>log-effects</tns:name>
	    <tns:value>true</tns:value>
	</tns:property>
	
	<tns:property>
	    <tns:name>low-level-freq</tns:name>
	    <tns:value>50000</tns:value>
	</tns:property>
	
	<tns:property>
	    <tns:name>welcome-message</tns:name>
	    <tns:value>The welcome message the user will see</tns:value>
	</tns:property>

	<tns:property>
	    <tns:name>assessmentreport-triggers</tns:name>
	    <tns:value>SceneIds_separated_by_blanks</tns:value>
	</tns:property>
	
	<tns:service>
	    <tns:enabled>true</tns:enabled>
	    <tns:name>local-log</tns:name>
	    <tns:class>es.eucm.eadventure.tracking.prv.service.GameLogConsumerLocal</tns:class>
	    <tns:frequency>10000</tns:frequency>
	</tns:service>
	
	<tns:service>
	    <tns:enabled>true</tns:enabled>
	    <tns:name>remote-log</tns:name>
	    <tns:class>es.eucm.eadventure.tracking.prv.service.GameLogConsumerHTTP</tns:class>
	    <tns:frequency>5000</tns:frequency>
	    <tns:url>backend-ea.e-ucm.es/api/sessions/</tns:url>
	    <tns:path>chunks</tns:path>
	</tns:service>
	
	<tns:service>
	    <tns:enabled>true</tns:enabled>
	    <tns:name>gleaner-log</tns:name>
	    <tns:class>es.eucm.eadventure.tracking.prv.gleaner.GleanerLogConsumer</tns:class>
	    <tns:frequency>5000</tns:frequency>
	    <!-- <tns:url>http://glas.e-ucm.es/gleaner/c/</tns:url> -->
	    <tns:url>http://localhost:5123/gleaner/c/</tns:url>
	</tns:service>
	
</tns:tracking-config>